﻿
@{
    ViewBag.Title = "Payroll";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">PayRoll</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>PayRoll</small></h1>
    <!-- end page-header -->
</div>
   


